<h1>Faculties#update</h1>
<% if flash[:errors]%>
    <% flash[:errors].each do |error|%>
        <p style="color: red"><%= error%></p>
    <%end%>
<%end%>

<p>Find me in app/views/faculties/update.html.erb</p>
